doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description" content="Personal playground site of Web Developer Noel Delgado")
    meta(name="author" content="Noel Delgado")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#1fffe1")
    title Noel Delgado — Web Developer
    link(rel="icon" type="image/png" href="public/images/favicon.ico")
    link(rel="preconnect" href="https://www.googletagmanager.com")
    link(rel="preconnect" href="https://www.google-analytics.com")
    link(rel="apple-touch-icon" sizes="180x180" href="./public/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./public/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./public/images/favicon-16x16.png")
    link(rel="manifest" href="site.webmanifest")
    link(rel="stylesheet", href="./public/css/style.css")
  body
    include mixins/social-nav
    include svg-sprite-symbol/svg/sprite.symbol.svg

    header.wrapper.pr
      h1 Noel Delgado
      h2.mb05 Web Developer &amp; pseudo-<span class="-td">████████</span>
      +social-nav

    main.wrapper.pr
      section.demos
        h2.-ttu Demos / Animations / Interactions
        p.mb1.-desc Stuff I do for fun
        ul.section__grid
          each i in demos
            li.section__grid__item
              a.section__grid__anchor(
                href=`${i.url}`
                rel="noopener noreferrer"
                target="_blank"
                data-bind-eye="true"
                data-title=`${i.name}`
                data-description=`${i.description}`
              )
                if i.image
                  .section__grid__image-wrapper
                    figure
                      picture
                        each type in ["avif", "webp", "png"]
                          source(
                            type=`image/${type}`
                            sizes=`
                              (min-width: 1228px) 200px,
                              (min-width: 1200px) 16.66vw,
                              (min-width: 1000px) 20vw,
                              (min-width: 800px) 25vw,
                              (min-width: 600px) 33.33vw,
                              (min-width: 400px) 50vw,
                              100vw
                            `
                            srcset!=`
                              ./public/images/${i.image}.png?as=${type}&width=200 200w,
                              ./public/images/${i.image}.png?as=${type}&width=250 250w,
                              ./public/images/${i.image}.png?as=${type}&width=300 300w,
                              ./public/images/${i.image}.png?as=${type}&width=400 400w,
                              ./public/images/${i.image}.png?as=${type}&width=500 500w,
                              ./public/images/${i.image}.png?as=${type}&width=600 600w,
                              ./public/images/${i.image}.png?as=${type}&width=800 800w
                            `
                          )
                        img.section__grid__image(
                          src=`./public/images/${i.image}.png?as=${'png'}&width=400`
                          width="400"
                          height="225"
                          alt=`${i.name} - ${i.description}`
                          loading="lazy"
                          decoding="async"
                        )

                      figcaption= i.description

      section.oss
        h2.-ttu OSS / Libs / Tools
        p.mb1.-desc Contributions to open-source
        ul.section__grid.list--decimal
          each i in oss
            li
              a.-dif(
                href=`${i.url}`
                data-title=`${i.name}`
                data-description=`${i.description}`
                rel=(i.external && "noopener noreferrer")
                target=(i.external && "_blank")
                aria-label=(i.external && `${i.name} - link opens in a new tab`)
              )
                if i.image
                  .icon
                    picture
                      source(
                        type="image/avif"
                        srcset!=`
                          ./public/images/${i.image}.png?as=avif&width=32 1x,
                          ./public/images/${i.image}.png?as=avif&width=64 2x
                        `
                      )
                      source(
                        type="image/webp"
                        srcset!=`
                          ./public/images/${i.image}.png?as=webp&width=32 1x,
                          ./public/images/${i.image}.png?as=webp&width=64 2x
                        `
                      )
                      img(
                        src=`./public/images/${i.image}.png?as=png&width=32`
                        srcset=`./public/images/${i.image}.png?as=png&width=64 2x`
                        width="32"
                        height="32"
                        alt="project icon"
                        loading="lazy"
                        decoding="async"
                      )
                else if i.icon
                  .icon.emoji= i.icon
                div
                  span.-le= i.name
                    if i.external
                      svg(class="svg--external-icon" width="16" height="16" aria-hidden="true")
                        use('xlink:href'="#svg-launch-24px")
                  p.-desc= i.description

      section.projects
        h2.ttu Projects
        p.mb1.desc Some projects I have worked on
        ul.section__grid.list--decimal
          each i in projects
            li
              div
                div.dif
                  if i.image
                    picture.icon
                      each type in ["avif", "webp", "png"]
                        source(
                          type=`image/${type}`
                          srcset!=`
                            ./public/images/projects/${i.image}?as=${type}&width=16 1x,
                            ./public/images/projects/${i.image}?as=${type}&width=32 2x
                          `
                        )
                      img(
                        src!=`./public/images/projects/${i.image}?as=png&width=16`
                        width="16"
                        height="16"
                        alt=`${i.name} logo icon`
                        loading="lazy"
                        decoding="async"
                      )
                  if i.offline
                    p.td= i.name
                  else
                    a(
                      href=`${i.url}`
                      rel=(i.external && "noopener noreferrer")
                      target=(i.external && "_blank")
                      aria-label=(i.external && `${i.name} - link opens in a new tab`)
                    )
                      span.-le= i.name
                        if i.external
                          svg(class="svg--external-icon" width="16" height="16" aria-hidden="true")
                            use('xlink:href'="#svg-launch-24px")
                p.desc= i.description

    footer.wrapper.pr
      +social-nav
      .-td v#{version}

    .iframe-wrapper
      iframe(
        src="about:blank"
        title="Noel’s demos on Codepen"
        frameborder="0"
        width="100%"
        height="100%"
        style="overflow:hidden;height:100%;width:100%"
      )
    button.iframe-close-button(type="button" aria-label="Close project detail")
      svg(width="40" height="40" aria-hidden="true")
        use('xlink:href'="#svg-close-24px")
    .iframe-loader
      .iframe-loader__layer.--waves
        svg.loader-wave-top("xmlns:xlink"="http://www.w3.org/1999/xlink")
          use('xlink:href'="#svg-loader-wave-top")
        svg.loader-wave-bottom("xmlns:xlink"="http://www.w3.org/1999/xlink")
          use('xlink:href'="#svg-loader-wave-bottom")
      .iframe-loader__layer.--info
        svg.loader-wave-top("xmlns:xlink"="http://www.w3.org/1999/xlink")
          use('xlink:href'="#svg-loader-wave-top")
        svg.loader-wave-bottom("xmlns:xlink"="http://www.w3.org/1999/xlink")
          use('xlink:href'="#svg-loader-wave-bottom")
        .iframe-loading-text
          p.mb05.loading Loading
          span.title
          br
          span.description

    script(src="./public/js/index.js" type="module" defer)

    if (process.env.NODE_ENV === 'production')
      script(src="https://www.googletagmanager.com/gtag/js?id=UA-23768287-1" async)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-23768287-1');
